<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home">Lawyer Service</a>
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink="user/create">Create a Registration</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="users">Existing Users</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="login">Login using your credentials</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>


