<div class="card">
  <div class="card-body col-sm-12">
    <carousel [noPause]="false" [interval]=3000>
      <slide>
        <img src="../assets/images/horse.jpg" alt="Beautiful Horse" height="750" style="display: block; width: 100%;"/>
        <div class="carousel-caption d-none d-md-block">
          <h3>My Horse</h3>
          <p>Is there anything to say?</p>
        </div>
      </slide>
      <slide>
        <img src="../assets/images/Beach.jpg" alt="An Awesome Beach" height="750" style="display: block; width: 100%;"/>
        <div class="carousel-caption d-none d-md-block">
          <h3>Beautiful Beach</h3>
          <p>Want to build a house over here?</p>
        </div>
      </slide>
      <slide>
        <img src="../assets/images/Everglades.jpg" alt="Florida Everglades" height="750" style="display: block; width: 100%;"/>
        <div class="carousel-caption d-none d-md-block">
          <h3>Florida's Everglades</h3>
          <p>Burmese Pythons are a menace here.</p>
        </div>
      </slide>
    </carousel>
  </div>
</div>
