<table class="table table-dark table-striped">
  <thead>
  <tr>
    <th>Full Name</th>
    <th>Description</th>
    <th>Phone</th>
    <th>Website</th>
    <th>Spoken Languages</th>
    <th>Average Rating</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users | paginate: { itemsPerPage: 5, currentPage: page }">
    <td>{{user["FIRST_NAME"]}}, {{user["LAST_NAME"]}} {{user["MIDDLE_NAME"]}}</td>
    <td>{{user["DESCRIPTION"]}}</td>
    <td>{{user["CELLPHONE"]}}</td>
    <td><a href="{{user['WEBSITE']}}">{{user["WEBSITE"]}}</a></td>
    <td>{{user["LANGUAGES"]}}</td>
    <td>{{user["AVG_USER_RATING"]}}</td>
  </tr>
  <tr><pagination-controls (pageChange)="page = $event"></pagination-controls></tr>
  </tbody>
</table>





